body {
  /* Thank you for the background Kiwihug - Photo by <a href="https://unsplash.com/es/@kiwihug?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kiwihug</a> on <a href="https://unsplash.com/s/photos/smooth-paper?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  background-image: url("images/kiwihug-zGZYQQVmXw0-unsplash.jpg");
}

h1 {
  text-indent: 16px;
  font-family: Arial, sans-serif;
}

h2 {
  text-indent: 16px;
  font-family: Arial, sans-serif;
}
img {
  padding: 25px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a {
  text-indent: 50px;
  padding-left: 50px;
  font-family: Arial, sans-serif;
}

iframe {
  padding-left: 50px;
  border: none;
}
ul {
  text-indent: 16px;
  text-align: left;
  font-weight: normal;
  font-size:  16
  font-family: Arial, sans-serif;
}
li {
  text-indent: 16px;
  text-align: left;
  font-weight: normal;
  font-size:  16;
  color: darkblue;
  line-height: normal;
  font-family: Arial, sans-serif;
}
ol {
  text-indent: 16px;
  text-align: left;
  font-weight: normal;
  font-size:  16;
  color: darkblue;
  line-height: normal;
  font-family: Arial, sans-serif;
}
p {
  text-indent: 50px;
  text-align: left
  font-weight: normal;
  font-size:  16;
  color: darkblue;
  font-family: Arial, sans-serif;
}



/* Style the tab */
.MyHome {
  overflow: hidden;
  border: none;
  background-color: #ddd;
  justify-content: center;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: #ddd;
  padding: 14px 16px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightblue;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: blue;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1.5s; /* Fading effect takes 2 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
